@import url(./reset.css);
@import url(./variables.css);

html,
body {
    height: 100vh;
    height: 100dvh;

    color: white;
    font-family: sans-serif;

    user-select: none;
    -webkit-user-select: none;
}
